body {
    background: #f4f4ed;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }
  
  a {
    text-decoration-style: none;
    text-decoration: none;
    color: #f4f4ed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: none;
    border-style: none;
  }
  
  ul {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
  }
  
  li {
    padding: 15px;
    text-decoration: none;
    list-style: none;
  }
  
  h2 {
    display: flex;
    justify-content: center;
  }
  
  button {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: none;
    border-style: none;
  }
  
  .barraDeNavegacion {
    background-color: #12a9bd;
    color: #f4f4ed;
    display: flex;
    height: 5%;
    width: auto;
    flex-direction: row;
  }
  
  .linkTitulo {
    display: flex;
    padding-left:5% ;
  }
  
  .contenedorListaMenu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: 40%;
  }
  
  /* 
  .dropdownMenu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  } */
  
  .contenedorTarjetasPsicologia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px;
  }
  
  .tarjetaPsicologia {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    width: 300px;
    justify-content: center;
  }
  
  .botonPrincipal {
    color: #ffffff;
    background-color: #12a9bd;
    padding: 7px;
    border-radius: 15px;
  }
  
  .publicacionesLink {
    color: #212529;
  }
  
  .descripcionAbajoContenedor {
display: flex;
justify-content: center;
align-items: center;
}
  
  .descripcionAbajo {
    display: flex;
    flex-wrap: wrap;
  }
  
  footer {
    background-color: #12a9bd;
    display: flex;
    justify-content: center;
    color: #f4f4ed;
    align-items: center;
    padding: 70px;
  }
  